html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

img, embed, object, video {
    max-with: 100%;
}

/*
 * Styles for the title
 */

.game-title {
    align-items: center;
    height: 15vh;
}

/* Responsive styles for the title */
@media screen and (max-width: 374px) {
    h1 {
        font-size: 1.5em;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
    h1 {
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    h1 {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 2.5px;
    }

    .game-title {
        height: 30vh;
    }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
    h1 {
        font-size: 3em;
        font-weight: 900;
        letter-spacing: 3px;
    }

    .game-title {
        height: 20vh;
    }
}

/* Adjust the title for resolutions such as 1024x768 or 1280x800 */
@media screen and (min-width: 961px) and (max-height: 800px) {
    h1 {
        font-size: 3.5em;
        font-weight: 900;
        letter-spacing: 3.5px;
    }

    .game-title {
        height: 20vh;
    }
}

/* Ajust the title for all resolutions above 961px, including all Full-HD and 4K resolutions */
@media screen and (min-width: 961px) and (min-height: 801px) {
    h1 {
        font-size: 4em;
        font-weight: 900;
        letter-spacing: 4px;
    }

    .game-title {
        height: 20vh;
    }
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex: 2 2 auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    align-items: center;
    height: 125px;
    width: 125px;
    max-height: 125px;
    max-width: 125px;
    background: #2e3d49;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex: 2 2 auto;
    font-size: 0;
    justify-content: center;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.miss {
    cursor: default;
    background: #ff4300;
    font-size: 33px;
}

/* Style for the Click to Start banner, it is not positioned inside the .deck element */
.start {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 4em;
    margin: 0;
    padding: 1em;
    position: relative;
    text-align: center;
    top: -484px;
    width: 100vw;
    z-index: 1;
}

/* Responsive styles for the deck */
@media screen and (max-width: 374px) {
    .deck {
        width: 220px;
        min-height: 227px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 4px 5px 7px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 1em;
    }

    .deck .card {
        height: 42px;
        width: 42px;
        max-height: 42px;
        max-width: 42px;
        border-radius: 3px;
        box-shadow: 2px 1px 7px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 11px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 11px;
    }

    .deck .card.miss {
        cursor: default;
        background: #ff4300;
        font-size: 11px;
    }

    .start {
        font-size: 1em;
        padding: 1em;
        top: -164px;
    }

}

@media screen and (min-width: 375px) and (max-width: 480px) {
    .deck {
        width: 330px;
        min-height: 340px;
        padding: 15px;
        border-radius: 4.5px;
        box-shadow: 4px 5px 7px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 1em;
    }

    .deck .card {
        height: 63px;
        width: 63px;
        max-height: 63px;
        max-width: 63px;
        border-radius: 7px;
        box-shadow: 3px 1.5px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 17px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 17px;
    }

    .deck .card.miss {
        cursor: default;
        background: #ff4300;
        font-size: 17px;
    }

    .start {
        font-size: 1.5em;
        padding: 1.5em;
        top: -250px;
    }

}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .deck {
        width: 440px;
        min-height: 454px;
        padding: 21px;
        border-radius: 7px;
        box-shadow: 8px 10px 14px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 2em;
    }

    .deck .card {
        height: 84px;
        width: 84px;
        max-height: 84px;
        max-width: 84px;
        border-radius: 7px;
        box-shadow: 4px 1px 14px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 22px;
    }

    .deck .card.match {
        font-size: 22px;
    }

    .deck .card.miss {
        font-size: 22px;
    }

    .start {
        font-size: 2.5em;
        padding: 2.5em;
        top: -356px;
    }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
    .deck {
        width: 550px;
        min-height: 568px;
        padding: 26px;
        border-radius: 9px;
        box-shadow: 10px 12.5px 17.5px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 2em;
    }

    .deck .card {
        height: 105px;
        width: 105px;
        max-height: 105px;
        max-width: 105px;
        border-radius: 9px;
        box-shadow: 5px 1.5px 17.5px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 28px;
    }

    .deck .card.match {
        font-size: 28px;
    }

    .deck .card.miss {
        font-size: 28px;
    }

    .start {
        font-size: 3em;
        padding: 1.5em;
        top: -412px;
    }
}

/* Allow full screen display for resolutions such as 1024x768 or 1280x800 */
@media screen and (min-width: 961px) and (max-height: 800px) {
    .deck {
        width: 550px;
        min-height: 568px;
        padding: 26px;
        border-radius: 9px;
        box-shadow: 10px 12.5px 17.5px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 2em;
    }

    .deck .card {
        height: 105px;
        width: 105px;
        max-height: 105px;
        max-width: 105px;
        border-radius: 9px;
        box-shadow: 5px 1.5px 17.5px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 28px;
    }

    .deck .card.match {
        font-size: 28px;
    }

    .deck .card.miss {
        font-size: 28px;
    }

    .start {
        font-size: 3em;
        padding: 1.5em;
        top: -428px;
    }
}

/* Resolutions above 961px width and 801 height remain with the default styles */

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 640px;
}

.score-panel .stars {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    border: none;
    outline: none;
    background-color: transparent;
}

.score-panel .restart:hover {
    color: #02b3e4;
}

.score-panel .timer {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.score-panel .moves {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.score-panel .leaderboard {
    cursor: pointer;
}

.score-panel .leaderboard:hover {
    color: #02b3e4;
}

/* Responsive styles for the score panel */
@media screen and (max-width: 374px) {
    .score-panel {
        width: 213px;
    }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
    .score-panel {
        width: 320px;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .score-panel {
        width: 426px;
    }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
    .score-panel {
        width: 532px;
    }
}

/* Adjust the width of the score panel to resolutions such as 1024x768 and 1280x800 */
@media screen and (min-width: 961px) and (max-height: 800px) {
    .score-panel {
        width: 532px;
    }
}

/*
 * Styles for the Congratulations modal
 */

 .congrat-errors, .congrat-message {
    display: inline-block;
    margin-top: -1em;
    vertical-align: top;
 }

 .congrat-play {
    display: block;
    font-size: 2em;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
}

.congrat-moves {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.congrat-restart {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

.congrat-stars {
    margin-left: -40px;
}

.congrat-stars li {
    display: inline-block;
    font-size: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.congrat-stars.gold {
    color: #d4af37;
}

.congrat-stars.silver {
    color: #c0c0c0;
}

.congrat-stars.bronze {
    color: #C57B4C
}

.congrat-stars.orange {
    color: orange;
}

.congrat-stars.red {
    color: red;
}

.congrat-timer {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.congrat-title {
    text-align: center;
    margin: 0 0 0 auto;
}

.modal-footer .saved {
    background: #02ccba;
    border: #02ccba;
}

.modal-footer .name-label {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    vertical-align: middle;
}

.modal-footer .name-input {
    caret-color: #007bff;
    font-size: 1rem;
}

/*
 * Styles for the Leaderboard
 */

.leaderboard-rank {
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 80vw;
    height: auto;
    padding: 32px;
    text-align: center;
}

.rank-body {
    background: white;
}

.rank-body tr:nth-child(even) {
    background: lightgray;
}

.rank-body .player {
    color: #02b3e4;
}

.rank-head {
    background: lightgray;
}

.rank-panel {
    text-align: center;
    width: 60vw;
}

.rank-panel .restart {
    display: inline-block;
    padding: 0 15px;
}

.rank-panel .restart-button {
    border: none;
    outline: none;
    background-color: transparent;
    height: 26px;
    margin: 15px auto;
}

.rank-panel .restart-button:hover {
    color: #02b3e4;
}

.rank-stars {
    text-align: center;
    margin-bottom: 10px;
}

.rank-stars .stars {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.rank-stars .stars li {
    list-style: none;
    display: inline-block;
}
